<div class="sub-page-header">
	<div class="row">
		<div class="columns">
			<h1>
				Products Base Page
			</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="columns">
		<%= link_to "pellets", products_pellets_root_path %><br/>
		<%= link_to "compact bales", products_compactbales_root_path %>
	</div>
</div>