<div class="home-background-image">
	<%= render "home_header" %>
	<div class="light-line">
	</div>
	<div class="row">
		<div class="small-10 columns amantic">
			<h3>From our family<br/>
			to yours</h3>
		</div>
	</div>
</div>
<div class="row">
	<div class="home-attention-bar">
	</div>
</div>
<div class="home-base">
	<section class="row">
		<div class="small-4 columns home-attention-left panel">
			<h1>ATTENTION:</h1>
			<p>We only sell our products in our bags. If the bag is not ours, then neither is the product.<br/>
			Currently we are available in Utah, California, Arizona, Idaho, Colorado, Nevada, and Florida. <%= link_to "Please see a list of our dealers here.", dealers_path %></p>
			<p>For any questions, call 1-866-779-0195</p>
		</div>
		<div class="small-8 columns">
			<div class="row">
				<div class="medium-12 columns pellet-image hide-for-small">
					<%= image_tag("pellets.png") %>
				</div>
				<div class="small-12 columns">
					<p><span class="intro">In 1976,</span> when the founders of Mountain Sunrise Feed started in the hay business, their roots already ran deep in the rich soil of the high mountain valleys of Southern Utah and Nevada. Their family had already been farming alfalfa here for nearly 100 years.</p>
					<p>A combination of climate, natural resources, experience, and most of all a caring attitude, are the real ingredients for quality feed. This attitude starts with the farmer that raises the hay, continues with the people that process the product, and ends with the feed stores who make our products available to you. Because of our long time commitment to quality, you can be assured of satisfaction from Mountain Sunrise Feed.</p>
				</div>
			</div>
		</div>
	</section>
</div>