<div class="home-background-image">
	<%= render "home_header" %>
	<div class="light-line">
	</div>
	<div class="row">
		<div class="small-10 columns">
			<h3>From our family<br/>
			to yours since 1976</h3>
		</div>
	</div>
</div>
<div class="home-base">
	<div class="row">
		<div class="medium-4 columns home-attention-left">
			<h4>ATTENTION:</h4>
			<p>We only sell our products in our bags. If the bag is not ours, then neither is the product.<br/>
			Currently we are available in Utah, California, Arizona, Idaho, Colorado, Nevada, and Florida. <%= link_to "Please see a list of our dealers here.", nil %></p>
			<p>For any questions, call 1-866-779-0195</p>
		</div>
		<div class="medium-8 columns">
			<div class="row">
				<div class="small-6 columns">
					<div class="row">
						<div class="small-4 columns">
							icon here
						</div>
						<div class="small-8 columns">
							Our family has been farming Alflafa in the rich soil of the high mountain valleys of Southern Utah and Nevada for almost 100 years.
						</div>
					</div>
				</div>
				<div class="small-6 columns">
					<div class="row">
						<div class="small-4 columns">
							icon here
						</div>
						<div class="small-8 columns">
							A combination of climate, natural resources, experience, and most of all a caring attitude, are the real ingredients for quality feed.
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<div class="row">
						<div class="small-4 columns">
							icon here
						</div>
						<div class="small-8 columns">
							Our caring attitude starts with the farmer that raises the hay, continues with the people that process the product, and ends with the feed stores who make our products available to you.
						</div>
					</div>
				</div>
				<div class="small-6 columns">
					<div class="row">
						<div class="small-4 columns">
							icon here
						</div>
						<div class="small-8 columns">
							You can be assured of satisfaction from Mountain Sunrise Feed, and our long time commitment to quality.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="row">
	<% @users.each do |user| %>
	    <li>
	        <%= link_to user.username, user %>
	    </li>
	<% end %>
</section>