<div class="home-background">
	<%= render "home_header" %>
	
<!-- 	<div class="row">
		<%= image_tag("MountainSunriseLogo.gif", class: "home-logo", alt: "Mountain Sunrise Feed Co.") %>
	</div> -->
	<div class="temp">
		This is filler
		<hr/>
		<p>We need to take up space</p>
		<p>lots of space</p>
		<h1> lots and lots of space</h1>
		<hr/>
		<p>Is this enough space?</p>
</div>