<div class="sub-page-header">
	<div class="row">
		<div class="columns">
			<h1>
				Contact Us
			</h1>
		</div>
	</div>
</div>

<div class="row contact-us">
	<div class="medium-6 columns">
		<h2>Toll Free: 1-866-779-0195</h2>
		<p>Our toll-free number has had some problems in the past. We have been reassured by the phone company that this is all taken care of. However, if you experience any problems, please let us know right away.</p>
	</div>
	<div class="medium-6 columns panel">
		<h2>Nick Huntsman</h2>
		<p>Animal Nutrition Consultant<br/>
		Cell: (435)632-4464</p>
	</div>
</div>