@import "font-awesome-sprockets";
@import "font-awesome";
@import "foundation_and_overrides";

.left-title {
	font-family: "Cinzel", serif !important;
	text-transform: uppercase !important;
}

.home-logo {
	display: block;
	margin: 0 auto;
}

.home-title {
	color: $white;
	font-size: rem-calc(28);
	font-family: "Cinzel", serif !important;
	line-height: 90%;
}

.home-top-logo {
	padding-top: rem-calc(28);
	img {
		margin-left: -25px;
		margin-bottom: -10px;
	}
}

.home-icon {
	padding-top: rem-calc(40);
}

.home-top {
	width: 100%;
	height: 138px;
	background: rgba(64, 43, 9, 0.7);
	margin: 0px;
	font-family: "Cinzel", serif !important;
	ul.right {
		padding-right: 10px;
	}
	li {
		padding-top: rem-calc(90);
		font-size: rem-calc(13);
		a {
			color: $white;
			padding-top: rem-calc(10);
		}
	}
}

.hamburger-text {
	font-family: "Cinzel", serif !important;
}

.hamburger-margin {
	margin-right: 20px;
}

.light-line {
	width: 100%;
	background: rgba(64, 43, 9, 0.5);
	height: 10px;
}

.home-background-image {
	// really, I only need this to cover 100% width
	background: url(image_path('placeholder.jpg')) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	h3 {
		color: $secondary-color;
		padding-top: 75px;
		padding-bottom: 150px;
		font-family: "Cinzel", serif !important;
	}
}

.home-base {
	width: 100%;
	background: #7a8714;
	padding-top: 25px;
}

.home-attention-left {
	color: $third-color;
	padding-right: 10px;
	h4 {
		font-family: "Cinzel", serif !important;
		color: $third-color;
	}
}