@import "foundation_and_overrides";

.state-panel {
	text-align: center;
	padding: 10px;
	a {
		color: $green-color;
		font-family: 'Amatic SC', cursive !important;
		font-size: 20px;
		&:hover {
			color: $steel;
		}
	}
}