<footer class="site-footer">
	<hr/>
	<section class="row">
		<div class="medium-7 columns">
			<ul class="inline-list">
				<li>&copy; <%= Time.now.year %> Mountain Sunrise Feed Co.</li>
			</ul>
		</div>
		<div class="medium-5 columns end">
			<ul class="inline-list right">
				<% if current_user %>
					<li><%= current_user.username %></li>
					<li><%= link_to content_tag(:span, nil, class: "fa fa-sign-out"), nil, title: "Sign Out" %></li>
				<% else %>

				<li><%= link_to content_tag(:span, nil, class: "fa fa-cogs"), nil, title: "Sign In" %></li>
				<% end %>
			</ul>
		</div>
	</section>
</footer>