<div class="sub-page-header">
	<div class="row">
		<div class="columns">
			<h1>
				analysis reports
				<small>
					<%= link_to new_report_path, title: "Create a new analysis" do %>
						<span class="fa fa-plus-square-o"></span>
					<% end %>
				</small>
			</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="columns">
		<p>need to add a column for the file upload</p>
	</div>
</div>